{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Registrar Nuevo Estudiante</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css" rel="stylesheet' %}">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->

<body>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->
<form class="splash-container">
    <div class="card">
        <div class="card-header">
            <h3 class="mb-1">Formulario de registro</h3>
            <p>Ingrese su información de estudiante.</p>
        </div>
        <div class="card-body">
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="nick" required="" placeholder="Nombres"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="nick" required="" placeholder="Apellidos"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <input id="inputText4" type="number" class="form-control" placeholder="Codigo de Estudiante">
            </div>
            <div class="form-group">
                <select class="form-control" id="input-select">
                    <option value="null">Seleccione Grado</option>
                    {% for grado in grados %}
                    <option value="{{ grado.id }}">{{ grado.nombre_grado }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <input id="inputText5" type="number" class="form-control" placeholder="Ingrese Edad">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="text" name="nick" required=""
                       placeholder="Nombre de Acudiente"
                       autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" type="email" name="email" required=""
                       placeholder="Correo Electronico" autocomplete="off">
            </div>
            <div class="form-group">
                <input class="form-control form-control-lg" id="pass1" type="password" required=""
                       placeholder="Contraseña">
            </div>
            <div class="form-group pt-2">
                <button class="btn btn-block btn-primary" type="submit">Registrarme</button>
            </div>
        </div>
        <div class="card-footer bg-white">
            <p>Ya estoy registrado? <a href="{% url 'login:login_student' %}" class="text-secondary">Iniciar Sesion
                Aqui.</a></p>
        </div>
    </div>
</form>
</body>


</html>