{% extends 'login/base_das.html' %}
{% load static tag_article %}
{% block titlepage %}Dashboard - Resultados Modulo 2{% endblock titlepage %}
{% block titledas %}Inspección de Resultados Modulo 2{% endblock titledas %}
{% block ubicacion_das %}Resultados Modulo 2{% endblock ubicacion_das %}
{% block contentblock %}
    <!-- ============================================================== -->
    <!-- content -->
    <!-- ============================================================== -->
    <div class="row">
        <!-- ============================================================== -->
        <!-- profile -->
        <!-- ============================================================== -->
        <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
            <!-- ============================================================== -->
            <!-- card profile -->
            <!-- ============================================================== -->
            <div class="card">
                <div class="card-body">
                    <div class="user-avatar text-center d-block">
                        <img src="assets/images/avatar-1.jpg'" alt="User Avatar"
                             class="rounded-circle user-avatar-xxl">
                    </div>
                    <div class="text-center">
                        <h2 class="font-24 mb-0">Michael J. Christy</h2>
                        <p>Project Manager @Influnce</p>
                    </div>
                </div>
                <div class="card-body border-top">
                    <h3 class="font-16">Informacion de Contacto</h3>
                    <div class="">
                        <ul class="list-unstyled mb-0">
                            <li class="mb-2"><i class="fas fa-fw fa-envelope mr-2"></i>michaelchristy@gmail.com</li>
                            <li class="mb-0"><i class="fas fa-fw fa-phone mr-2"></i>(900) 123 4567</li>
                        </ul>
                    </div>
                </div>

            </div>
            <!-- ============================================================== -->
            <!-- end card profile -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- end profile -->
        <!-- ============================================================== -->
        <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-muted">Nota Modulo 2</h5>
                    <div class="metric-value d-inline-block">
                        <h1 class="mb-1">$12099</h1>
                    </div>
                    <div class="metric-label d-inline-block float-right text-success font-weight-bold">
                        <span><i class="fa fa-fw fa-arrow-up"></i></span><span>5.86%</span>
                    </div>
                </div>
                <div id="sparkline-revenue"></div>
            </div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- end content -->
    <!-- ============================================================== -->
{% endblock contentblock %}