{% extends 'login/base_das.html' %}
{% load static tag_article %}
{% block titlepage %}Dashboard - Resultados Modulo 2{% endblock titlepage %}
{% block titledas %}Inspección de Resultados Modulo 2{% endblock titledas %}
{% block ubicacion_das %}Resultados Modulo 2{% endblock ubicacion_das %}
{% block contentblock %}
    <!-- ============================================================== -->
    <!-- content -->
    <!-- ============================================================== -->
    <div class="row">
        {% if request.user.estudiantes.docente %}
            <!-- ============================================================== -->
            <!-- profile -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                <!-- ============================================================== -->
                <!-- card profile -->
                <!-- ============================================================== -->
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">Docente Asignado</div>
                        <br>
                        <div class="text-center">
                            <h2 class="font-24 mb-0">{{ request.user.estudiantes.docente.nombres }} {{ request.user.estudiantes.docente.apellidos }}</h2>
                            <p>{{ request.user.estudiantes.docente.titulo }}</p>
                        </div>
                    </div>
                    <div class="card-body border-top">
                        <h3 class="font-16">Informacion de Contacto</h3>
                        <div class="">
                            <ul class="list-unstyled mb-0">
                                <li class="mb-2"><i
                                        class="fas fa-fw fa-envelope mr-2"></i>{{ request.user.estudiantes.docente.correo }}
                                </li>
                                <li class="mb-0"><i
                                        class="fas fa-fw fa-phone mr-2"></i>{{ request.user.estudiantes.docente.telefono_contacto }}
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
                <!-- ============================================================== -->
                <!-- end card profile -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end profile -->
            <!-- ============================================================== -->
        {% else %}
            <!-- ============================================================== -->
            <!-- profile -->
            <!-- ============================================================== -->
            <div class="col-xl-3 col-lg-3 col-md-5 col-sm-12 col-12">
                <!-- ============================================================== -->
                <!-- card profile -->
                <!-- ============================================================== -->
                <div class="card">
                    <div class="card-body">
                        <div class="text-center">
                            <h2 class="font-24 mb-0">Docente no Asignado</h2>
                        </div>
                    </div>
                </div>
                <!-- ============================================================== -->
                <!-- end card profile -->
                <!-- ============================================================== -->
            </div>
            <!-- ============================================================== -->
            <!-- end profile -->
            <!-- ============================================================== -->
        {% endif %}
        {% get_entrega_all request.user.estudiantes as estudiante_entrega %}
        {% if estudiante_entrega.nota %}
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Nota Modulo 2</h5>
                        <div class="metric-value d-inline-block">
                            <h1 class="mb-1">{{ estudiante_entrega.nota }}</h1>
                        </div>
                        <hr>
                        <h5 class="text-muted">Observaciones: </h5>
                        <p>{{ estudiante_entrega.observaciones }}</p>
                        <hr>
                        <h5 class="text-muted">Rubrica: </h5>
                        {% if estudiante_entrega.rubrica %}
                            <a href="{{ estudiante_entrega.rubrica.url }}"
                               target="_blank">Descargar Rubrica</a>
                        {% else %}
                            No se ha subido, Rubrica al sistema.
                        {% endif %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12 col-12">
                <div class="card">
                    <div class="card-body">
                        <h5 class="text-muted">Nota Modulo 2</h5>
                        <h1 class="mb-1">Nota sin asignar</h1>
                    </div>

                </div>
            </div>
        {% endif %}


    </div>

    <!-- ============================================================== -->
    <!-- end content -->
    <!-- ============================================================== -->
{% endblock contentblock %}