{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Iniciar Sesion</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
    <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
    <style>
        html,
        body {
            height: 100%;
        }

        body {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-align: center;
            align-items: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
</head>

<body>
<!-- ============================================================== -->
<!-- login page  -->
<!-- ============================================================== -->
<div class="splash-container">
    <div class="card">
        <form action="" method="POST" style="padding: 15px">
            <h2>Se envió el restablecimiento de contraseña</h2>
            <h5>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta
                con el correo electrónico que ingresó. Debería recibirlos en breve. </h5> <br>
            <h6 style="width: 60%; margin: 0 auto"> Si no recibe un correo electrónico, asegúrese de haber ingresado la
                dirección con la que se registró y verifique su carpeta de correo no deseado. </h6>
        </form>
    </div>

    <div class="card-footer text-center">
        <span>¿No tienes una cuenta? <a href="{% url 'login:login_session' %}">Ir a login</a></span>
    </div>
</div>
</div>

<!-- ============================================================== -->
<!-- end login page  -->
<!-- ============================================================== -->
<!-- Optional JavaScript -->
<script src="{% static 'assets/vendor/jquery/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>

</html>